body{
    background-color: hsl(185, 75%, 39%);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat; 
    gap: 2rem;
}
.top,.bottom{
    position: fixed;
    object-fit:cover;
    width: 600px;
    height: 600px;
}
.top{
    left: -150px;
    top: -150px;
    rotate: 65deg;
    border-radius: 50%;
}
.bottom{

    right: -150px;
    bottom: -150px
}
section{
    margin: 0rem 0px 0px 0rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-self:center;
    justify-self: center;
    width: 25rem;
    position: relative;
    /* top: -950px;
    left: -300px; */
    margin: 3rem auto;
    z-index: 1;}
section img[alt="profile-design"]{
    height: 100%;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
}
section img[alt="image of victor"]{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    align-self: center;
    margin-top: 5px;
    right: -50px;
    outline-style: solid;
    outline-width: 5px;
    outline-color: hsl(0, 0%, 100%);
    top: 50%;
    transform: translateY(-50%);
}
section .name{
    display: flex;
    flex-direction: column;
}
.name-set h2{
    align-self: center;
    font-size: 1.4rem;
    color: hsl(229, 23%, 23%) ;
    margin-top: -1.4rem;
}
.name-set h2:last-of-type{
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}
.name p{
    margin: -0.5rem 0px 1.9rem -0.5rem;
    align-self: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}
.name-set{
    display: flex;
    justify-content: center;
    gap: 0.9rem;
}

hr{
    width: 24.7rem;
}
.stats{
    display: flex;
    justify-content: space-around;
    align-self: center;
    gap: 4rem;
    padding: 0rem;
}
.stats h2{
    align-self: center;
    text-align: center;
    color: hsl(229, 23%, 23%);
    font-family:arial;
    font-weight: 400;
}
.stats p{
    margin-top: -0.5rem;
    padding-bottom: 1.25rem;
    text-align: center;
    align-self: center;
    letter-spacing: 0.0625rem;
    color: hsl(227, 10%, 46%);
}

@media (max-width: 600px) {
    .top{
    left: -400px;
    top: -300px;
}
.bottom{
    right: -350px;
    bottom: -350px
}
    section{
        width: 21.7rem;
        
    }
    hr{
        max-width: 21.5rem;
    }
}